.Main {
	width: 100%;
	max-width: 1000px;
	display: flex;
	flex-direction: column;
	padding: 0rem 1rem;
	gap: 1rem;
}

@media (min-width: 768px) {
	.Main {
		flex-direction: row;
		justify-content: space-between;
	}
}
