.filter {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 10px;
	margin-bottom: 20px;
	justify-content: space-around;
}

.filter ul {
	display: flex;
	gap: 20px;
}

.filter ul li button {
	height: 40px;
	border: none;
	background-color: #e9ecef;
	border-radius: 8px;
	padding: 0rem 0.8rem;
}

.filter ul li button:active {
	background-color: #fd377e;
	color: white;
}

@media (max-width: 425px) {
	.filter {
		flex-direction: column;
	}
}
